In [ ]:
# /* QUESTIONS 

# /* Q1: Some of the facilities charge a fee to members, but some do not.
# Write a SQL query to produce a list of the names of the facilities that do. */

# SELECT name, membercost
# FROM Facilities
# WHERE membercost > 0 

# /* Q2: How many facilities do not charge a fee to members? */

# SELECT COUNT(*)
# FROM Facilities
# WHERE membercost = 0 

# /* Q3: Write an SQL query to show a list of facilities that charge a fee to members,
# where the fee is less than 20% of the facility's monthly maintenance cost.
# Return the facid, facility name, member cost, and monthly maintenance of the
# facilities in question. */

# SELECT facid, name, membercost, monthlymaintenance
# FROM Facilities
# WHERE membercost > 0 
# AND membercost < 0.2 * monthlymaintenance

# /* Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
# Try writing the query without using the OR operator. */

# SELECT *
# FROM Facilities
# WHERE facid = 0 OR facid = 5

# /* Q5: Produce a list of facilities, with each labelled as
# 'cheap' or 'expensive', depending on if their monthly maintenance cost is
# more than $100. Return the name and monthly maintenance of the facilities
# in question. */\

# SELECT name, monthlymaintenance,
# CASE WHEN monthlymaintenance > 100 THEN 'expensive'
# 	ELSE 'cheap' END as price
# FROM Facilities

# /* Q6: You'd like to get the first and last name of the last member(s)
# who signed up. Try not to use the LIMIT clause for your solution. */

# SELECT firstname, surname, joindate
# FROM Members
# ORDER BY joindate DESC

# /* Q7: Produce a list of all members who have used a tennis court.
# Include in your output the name of the court, and the name of the member
# formatted as a single column. Ensure no duplicate data, and order by
# the member name. */

# SELECT DISTINCT CONCAT(Members.firstname, ' ', Members.surname) AS member, 
# Facilities.name AS facility
# FROM Members
# INNER JOIN Bookings
# ON Members.memid = Bookings.memid
# INNER JOIN Facilities
# ON Bookings.facid = Facilities.facid
# WHERE Facilities.name LIKE 'Tennis Court%'
# ORDER BY member;


# /* Q8: Produce a list of bookings on the day of 2012-09-14 which
# will cost the member (or guest) more than $30. Remember that guests have
# different costs to members (the listed costs are per half-hour 'slot'), and
# the guest user's ID is always 0. Include in your output the name of the
# facility, the name of the member formatted as a single column, and the cost.
# Order by descending cost, and do not use any subqueries. */

# SELECT DISTINCT CONCAT(Members.firstname, ' ', Members.surname) AS member, 
# Facilities.name AS facility, Facilities.membercost, Facilities.guestcost
# FROM Members
# INNER JOIN Bookings
# ON Members.memid = Bookings.memid
# INNER JOIN Facilities
# ON Bookings.facid = Facilities.facid
# WHERE Bookings.starttime LIKE '2012-09-14%'
# AND Facilities.membercost > 30 OR Facilities.guestcost > 30
# ORDER BY Facilities.guestcost DESC

# /* Q9: This time, produce the same result as in Q8, but using a subquery. */

# SELECT DISTINCT CONCAT(Members.firstname, ' ', Members.surname) AS member, 
# Facilities.name AS facility, Facilities.membercost, Facilities.guestcost
# FROM Members
# INNER JOIN Bookings
# ON Members.memid = Bookings.memid
# INNER JOIN Facilities
# ON Bookings.facid = Facilities.facid
# WHERE Bookings.starttime LIKE '2012-09-14%'
# AND Facilities.membercost > 30 OR Facilities.guestcost > 30
# ORDER BY Facilities.guestcost DESC

In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [3]:
query1 = select_all_tasks('SELECT * FROM FACILITIES')

AttributeError: 'str' object has no attribute 'cursor'

In [7]:
select_all_tasks(SELECT * FROM FACILITIES)

SyntaxError: invalid syntax (<ipython-input-7-b90222736d88>, line 1)

In [8]:
conn

NameError: name 'conn' is not defined