# Global Video Game Sales

Project Description

# Data Wrangling

In [27]:
# importing modules

import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [28]:
# importing files 
df1 = pd.read_csv('game_info.csv')
df2 = pd.read_csv('Video_Game_Sales_as_of_Jan_2017.csv')

Variable Descriptions for df1:

- 0id: An unique ID identifying this Game in RAWG Database
- slug: An unique slug identifying this Game in RAWG Database
- name: Name of the game
- metacritic: Rating of the game on Metacritic
- released: The date the game was released
- tba: To be announced state
- updated: The date the game was last updated
- website: Game Website
- rating: Rating rated by RAWG user
- rating_top: Maximum rating
- playtime: Hours needed to complete the game
- achievements_count: Number of achievements in game
- ratings_count: Number of RAWG users who rated the game
- suggestions_count: Number of RAWG users who suggested the game
- game_series_count: Number of games in the series
- reviews_count: Number of RAWG users who reviewed the game
- platforms: Platforms game was released on. Separated by ||
- developers: Game developers. Separated by ||
- genres: Game genres. Separated by ||
- publishers: Game publishers. Separated by ||
- esrb_rating: ESRB ratings

In [29]:
df1.head(10)

,id,slug,name,metacritic,released,tba,updated,website,rating,rating_top,...,developers,genres,publishers,esrb_rating,added_status_yet,added_status_owned,added_status_beaten,added_status_toplay,added_status_dropped,added_status_playing
0,1,dgeneration-hd,D/Generation HD,NaN,2015-10-23,False,2019-09-17T11:58:57,http://dgeneration.net,0.0,0,...,West Coast Software,Adventure||Puzzle,West Coast Software,Everyone 10+,4,88,2,2,0,0
1,10,g-prime,G Prime Into The Rain,NaN,2016-01-06,False,2019-11-06T23:04:19,NaN,0.0,0,...,Soma Games,Simulation||Indie,Immanitas Entertainment||Code-Monkeys,Everyone,2,42,2,0,0,0
2,100,land-sliders,Land Sliders,NaN,2015-09-24,False,2019-10-22T13:56:16,http://prettygreat.com,0.0,0,...,Prettygreat Pty,Adventure||Arcade,Prettygreat Pty,Everyone 10+,0,2,2,0,1,0
3,1000,pixel-gear,Pixel Gear,NaN,2016-10-20,False,2019-08-28T22:16:02,https://www.facebook.com/Geronimo-Interactive-...,0.0,0,...,Oasis Games||Geronimo Interactive,Action||Indie,Geronimo Interactive,Teen,0,1,0,0,0,0
4,10000,gods-and-idols,Gods and Idols,NaN,2016-12-12,False,2019-09-17T13:37:13,http://www.godsandidols.com/,0.0,1,...,Viking Tao,RPG||Strategy||Massively Multiplayer,Viking Tao,NaN,2,79,0,0,0,0
5,100000,plague-venue,Plague venue,NaN,2017-12-02,False,2019-01-09T12:41:06,NaN,0.0,0,...,Alexander Ponomariov,NaN,NaN,NaN,0,0,0,0,0,0
6,100001,the-moon-sliver-itch,The Moon Sliver (itch),NaN,2014-05-03,False,2019-01-09T12:41:06,NaN,0.0,0,...,David Szymanski,Adventure,NaN,NaN,0,0,0,0,0,0
7,100002,red-entity,Red Entity,NaN,2014-08-26,False,2019-01-09T12:41:06,NaN,0.0,0,...,woof,Action||Shooter,NaN,NaN,0,0,0,0,0,0
8,100004,hippiesvscops,HippiesVsCops,NaN,2016-04-18,False,2019-08-28T23:25:11,NaN,0.0,0,...,alegaroficial,Strategy,NaN,NaN,0,0,0,0,0,0
9,100005,they-came-through-the-floor,They Came Through the Floor,NaN,2018-06-24,False,2019-01-09T12:41:06,NaN,0.0,0,...,Atte Okkonen,Platformer,NaN,NaN,0,0,0,0,0,0

Variable Descriptions for df2: 

- Name - The game's name
- Platform - Platform of the games release
- YearofRelease - Year of the game's release
- Genre - Genre of the game
- Publisher - Publisher of the game
- NA_Sales - Sales in North America (in millions)
- EU_Sales - Sales in Europe (in millions)
- JP_Sales - Sales in Japan (in millions)
- Other_Sales - Sales in the rest of the world (in millions)
- Global_Sales - Total worldwide sales (in millions)
- Critic_score - Aggregate score compiled by Metacritic staff
- Critic_count - The number of critics used in coming up with the critic score
- User_score - Score by Metacritic's subscribers
- User_count - Number of users who gave the user score
- Rating - The ESRB ratings

In [30]:
df2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN

In [31]:
print(df1.shape, df2.shape)

(474417, 27) (17416, 15)

In [32]:
# merging the two dataframes 
df_og = df2.merge(df1, how='inner', left_on='Name', right_on='name')

In [33]:
df_og.shape

(9473, 42)

In [34]:
df_og.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,...,developers,genres,publishers,esrb_rating,added_status_yet,added_status_owned,added_status_beaten,added_status_toplay,added_status_dropped,added_status_playing
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,...,NaN,Sports,Nintendo,NaN,6,52,171,2,59,4
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,...,Nintendo,Action||Adventure||Platformer,Nintendo,NaN,12,170,511,14,142,10
2,Super Mario Bros.,G,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07,...,Nintendo,Action||Adventure||Platformer,Nintendo,NaN,12,170,511,14,142,10
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,...,NaN,Racing,Nintendo,NaN,5,69,237,4,50,8
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,...,Nintendo,Sports,Nintendo,Everyone,5,29,91,2,31,2

In [35]:
df_og.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Rating', 'id', 'slug',
       'name', 'metacritic', 'released', 'tba', 'updated', 'website', 'rating',
       'rating_top', 'playtime', 'achievements_count', 'ratings_count',
       'suggestions_count', 'game_series_count', 'reviews_count', 'platforms',
       'developers', 'genres', 'publishers', 'esrb_rating', 'added_status_yet',
       'added_status_owned', 'added_status_beaten', 'added_status_toplay',
       'added_status_dropped', 'added_status_playing'],
      dtype='object')

In [36]:
df_og.isna().sum()

Name                       0
Platform                   0
Year_of_Release            3
Genre                      0
Publisher                  0
NA_Sales                   0
EU_Sales                   0
JP_Sales                   0
Other_Sales                0
Global_Sales               0
Critic_Score            3526
Critic_Count            3526
User_Score              3924
User_Count              3924
Rating                  2414
id                         0
slug                       0
name                       0
metacritic              7195
released                 360
tba                        0
updated                    0
website                 5124
rating                     0
rating_top                 0
playtime                   0
achievements_count         0
ratings_count              0
suggestions_count          0
game_series_count          0
reviews_count              0
platforms                  8
developers              1284
genres                  1730
publishers               851
esrb_rating             6139
added_status_yet           0
added_status_owned         0
added_status_beaten        0
added_status_toplay        0
added_status_dropped       0
added_status_playing       0
dtype: int64

In [37]:
df_og['Critic_Count'].head()

0    51.0
1     NaN
2     NaN
3    73.0
4    73.0
Name: Critic_Count, dtype: float64

In [38]:
# drop columns that are not useful, have too many null values or duplicates

df = df_og.drop(columns=['slug', 'tba', 'website', 'esrb_rating', 'added_status_yet',
       'added_status_owned', 'added_status_beaten', 'added_status_toplay',
       'added_status_dropped', 'added_status_playing', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'metacritic', 'genres', 
        'publishers', 'Rating', 'released', 'updated', 'developers', 'name', 'achievements_count', 
        'suggestions_count', 'rating_top', 'id', 'reviews_count', 'Platform'])

In [39]:
df.isna().sum()

Name                 0
Year_of_Release      3
Genre                0
Publisher            0
NA_Sales             0
EU_Sales             0
JP_Sales             0
Other_Sales          0
Global_Sales         0
rating               0
playtime             0
ratings_count        0
game_series_count    0
platforms            8
dtype: int64

In [40]:
df.head(10)

,Name,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,rating,playtime,ratings_count,game_series_count,platforms
0,Wii Sports,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,4.19,55,174,1,Wii
1,Super Mario Bros.,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,4.27,30,498,17,SNES||Nintendo Switch||Game Boy Advance||Game ...
2,Super Mario Bros.,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07,4.27,30,498,17,SNES||Nintendo Switch||Game Boy Advance||Game ...
3,Mario Kart Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,4.26,12,204,10,Wii
4,Wii Sports Resort,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,4.17,2,89,1,Wii
5,New Super Mario Bros.,2006.0,Platform,Nintendo,11.28,9.15,6.50,2.88,29.81,4.13,25,179,19,Wii U||Nintendo DS
6,Wii Play,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,3.36,0,46,0,Wii
7,New Super Mario Bros. Wii,2009.0,Platform,Nintendo,14.48,6.95,4.70,2.25,28.38,3.99,12,173,17,Wii
8,Duck Hunt,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,0.00,0,0,0,PC
9,Mario Kart DS,2005.0,Racing,Nintendo,9.71,7.48,4.13,1.90,23.22,4.23,5,182,10,Nintendo DS||Wii U

In [41]:
# Data Defintion 

df.dtypes

Name                  object
Year_of_Release      float64
Genre                 object
Publisher             object
NA_Sales             float64
EU_Sales             float64
JP_Sales             float64
Other_Sales          float64
Global_Sales         float64
rating               float64
playtime               int64
ratings_count          int64
game_series_count      int64
platforms             object
dtype: object

In [42]:
# Column Descriptions 

# Name                          
# Year_of_Release      
# Genre                 
# Publisher             
# NA_Sales             North America sales
# EU_Sales             Europe sales
# JP_Sales             Japan sales
# Other_Sales          Sales in other regions 
# Global_Sales         Total sales 
# rating               average rating
# playtime             length of game
# ratings_count        number of ratings
# game_series_count    how many games in the series 
# platforms            platforms game is offered on

In [43]:
# filling null values 
df.isna().sum()

Name                 0
Year_of_Release      3
Genre                0
Publisher            0
NA_Sales             0
EU_Sales             0
JP_Sales             0
Other_Sales          0
Global_Sales         0
rating               0
playtime             0
ratings_count        0
game_series_count    0
platforms            8
dtype: int64

In [44]:
df[df['Year_of_Release'].isna()]

,Name,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,rating,playtime,ratings_count,game_series_count,platforms
8123,Mobile Ops: The One Year War,NaN,Simulation,Namco Bandai Games,0.0,0.00,0.06,0.0,0.06,0.0,0,0,0,Xbox 360
8538,Free Running,NaN,Sports,Reef Entertainment,0.0,0.00,0.00,0.0,0.01,0.0,2,0,0,PC||PlayStation 2
9199,Ferrari: The Race Experience,NaN,Racing,System 3 Arcade Software,0.0,0.01,0.00,0.0,0.02,0.0,0,0,0,PlayStation 3

In [45]:
df[df['platforms'].isna()]

,Name,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,rating,playtime,ratings_count,game_series_count,platforms
5049,FlatOut: Head On,2008.0,Racing,Empire Interactive,0.13,0.10,0.00,0.06,0.29,0.0,0,2,0,NaN
5583,Naruto: Ninja Council 2 European Version,2005.0,Fighting,Tomy Corporation,0.00,0.00,0.23,0.00,0.23,0.0,0,0,0,NaN
6117,Tales of the Tempest,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.18,0.00,0.18,0.0,0,0,0,NaN
7390,NASCAR,2006.0,Racing,Electronic Arts,0.09,0.00,0.00,0.01,0.10,0.0,0,0,0,NaN
8094,The Fast and the Furious,2006.0,Racing,Namco Bandai Games,0.03,0.02,0.00,0.01,0.06,0.0,0,0,0,NaN
8095,The Fast and the Furious,2007.0,Racing,Deep Silver,0.02,0.00,0.00,0.00,0.02,0.0,0,0,0,NaN
8248,Ferrari F355 Challenge,2002.0,Racing,Sony Computer Entertainment,0.03,0.02,0.00,0.01,0.05,0.0,0,0,0,NaN
8447,Naruto Shippuden: Dairansen! Kage Bunshin Emaki,2008.0,Action,Takara Tomy,0.00,0.00,0.04,0.00,0.04,0.0,0,0,0,NaN

In [46]:
# rows that contain null values have insignificant data, will drop 
df.dropna(axis=0, inplace=True)
df.shape

(9462, 14)

In [47]:
df.reset_index(inplace=True)

In [48]:
df.to_csv('clean_df.csv', index=False)